<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">Pranavam</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item" [ngClass]="{'active': selectedItem == item.name}" (click)="listClick($event, item)"
        *ngFor="let item of menuItems">
        <a class="sidebar-link" [routerLink]="item.link" routerLinkActive="active">
          <i class="align-middle" [attr.data-feather]="item.icon"></i> <span class="align-middle">{{item.name}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="!canShow" class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">Pranavam</span>
    </a>
  </div>
</nav>