<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

    <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="house" placeholder="House">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="lord" placeholder="Lord">
        </div>
        
        <div class="col-md-3">
          <button type="button" (click)="create_LordInHouse()" [disabled]="!house || !lord " class="btn btn-primary">
            Search</button>
        </div>
      </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;" *ngFor="let item of lordInHouseList">
          <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
            <h5 class="card-title">House : {{item.house}}</h5>
            <h5 class="card-title">Lord: {{item.lord}}</h5>
            <h5 class="card-title">Trait: {{item.trait}}</h5>
            
            <a href="#" class="card-link" (click)="Edit_LordInHouse(item)">Edit</a>
            <a href="#" class="card-link" (click)="Delete_LordInHouse()">Delete</a>
          </div>
          <ng-template #elseBlock>
            <div class="card-body">
              <h5 class="card-title">Edit</h5>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="item.house" placeholder="Edit Name">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="item.lord" placeholder="Edit Age">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="item.trait" placeholder="Edit Address">
                  </div>
                </div>
              </div>
  
              <a href="#" class="card-link" (click)="item.isEdit = false">Cancel</a>
              <a href="#" class="card-link" (click)="Update_LordInHouse()">Update</a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="house" placeholder="House">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="lord" placeholder="Lord">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="trait" placeholder="Trait">
        </div>
        <div class="col-md-3">
          <button type="button" (click)="create_LordInHouse()" [disabled]="!house || !lord || !trait" class="btn btn-primary">+
            Create LordInHouse</button>
        </div>
      </div>
  
  
  </div>
  
