<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <p-toast></p-toast>
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="house" placeholder="House">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="lord" placeholder="Lord">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="trait" placeholder="Trait">
    </div>
  </div>

  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3" *ngIf="!selecteForEditorDel">
      <button type="button" (click)="create_LordInHouse()" [disabled]="!house || !lord || !trait"
        class="btn btn-primary">+
        Create</button>
    </div>
    <div class="col-md-3" *ngIf="selecteForEditorDel">
      <button type="button" (click)="Update_LordInHouse()" [disabled]="!house || !lord || !trait"
        class="btn btn-primary">
        Update</button>
    </div>
    <div class="col-md-3" *ngIf="selecteForEditorDel">
      <button type="button" (click)="Delete_LordInHouse()" [disabled]="!house || !lord || !trait"
        class="btn btn-primary">
        Delete</button>
    </div>
    <div class="col-md-3" *ngIf="selecteForEditorDel">
      <button type="button" (click)="cancel_LordInHouse()" [disabled]="!house || !lord || !trait"
        class="btn btn-primary">
        Cancel</button>
    </div>
  </div>

  <div class="card" style="margin-top: 25px;">
    <p-table #lordinhouseTable [columns]="cols" [paginator]="true" 
    [rows]="5" [value]="lordInHouseList" selectionMode="single"
      [globalFilterFields]="['house','lord','trait']" (onRowSelect)="onRowSelect($event)"
      [(selection)]="selectedLordInHouse" dataKey="id" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input #textInput pInputText type="text"
              (input)="lordinhouseTable.filterGlobal(textInput.value, 'contains')" placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
        
      </ng-template>
      <ng-template pTemplate="body" let-lordInHouse>
        <tr [pSelectableRow]="lordInHouse">
          <td>{{lordInHouse.house}}</td>
          <td>{{lordInHouse.lord}}</td>
          <td>{{lordInHouse.trait}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>