<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-4">
      <p-dropdown [options]="allOp1s" [(ngModel)]="option1Selected" optionValue="value" optionLabel="name"></p-dropdown>
      வீடு
    </div>
    
    <div class="col-md-6">
      <p-dropdown [options]="allOp2s" [(ngModel)]="option2Selected"  optionValue="value" optionLabel="name"></p-dropdown>
      அதன் அதிபதி
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-4">
      <p-dropdown [options]="allOp3s" [(ngModel)]="option4Selected"  optionValue="value" optionLabel="name"></p-dropdown>
    </div>
    <div class="col-md-6">
      <p-dropdown [options]="allOp1s" [(ngModel)]="option3Selected" optionValue="value" optionLabel="name"></p-dropdown>
      வீடான 
    </div>
  </div>

  <div class="row">
    
    
    <div class="col-md-4">
      <p-dropdown [options]="allOp2s"  optionValue="value" optionLabel="name"></p-dropdown>
      -ல் உள்ளது
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <button class="top20" pButton type="button" (click)="read_Items_Where()" label="Check" ></button>
    </div>
  </div>

    <div *ngIf="chip2s.length > 0" class="row" style="margin-top: 25px;">
      <div class="col-12 col-lg-4 col-xxl-3 d-flex">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0">{{option1Selected }} அதிபதி  {{option3Selected}} வீட்டில்</h5>
          </div>
          <div class="card-body d-flex w-100">
            <div class="align-self-center chart chart-lg tile">
              <p-chip label="{{data}}"  *ngFor="let data of chip2s" >
              </p-chip>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="chip3s.length > 0" class="row" style="margin-top: 25px;">
      <div class="col-12 col-lg-4 col-xxl-3 d-flex">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0">{{option4Selected }} -  {{option3Selected}} வீட்டில்</h5>
          </div>
          <div class="card-body d-flex w-100">
            <div  class="align-self-center chart chart-lg tile">
              <p-chip label="{{data}}"  *ngFor="let data of chip3s" >
              </p-chip>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>