::ng-deep .p-inputtext {
    width: 200px !important;
    min-height: 40px !important;
}

::ng-deep .p-dropdown {
    margin-top: 20px;
    width: 200px !important;
    height: 40px;
    padding: 0;
}

::ng-deep .p-autocomplete {
  margin-top: 20px;
  width: 200px !important;
  height: 40px;
  padding: 0;
}

  :host ::ng-deep .p-hidden-accessible {
    display: none;
  }

textarea {
    height: 99px;
}
